/* THE CSS HAS BEEN STYLED ACCORDING TO THE ORDER OF APPEARANCE ON THE WEBSITE AND HTML FOR EASY READING AND EDITING */



*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    background-color: #e0d7d76e;
}


.top-container{
    background-color: bisque;
    width: 100%;
    height: 40px;
}


.top-nav-bar{
    margin: 0;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}


.top-nav-bar li{
    list-style-type: none;
    display: inline;
    background-color: #fff;
    padding: 5px;
    margin: 0 5px 0 0;
}


.top-nav-bar a{
    text-decoration: none;
    color: black;
}


.store-logo-bar{
    height: 80px;
    width: 100%;
     background-color: rgb(89, 81, 81);
     padding: 10px;
     position: relative;
}


.store-logo-bar h1{
    margin: 0;
    background-color: #ff0;
    width: max-content;
    line-height: 60px;
    position: absolute;
}


.vickie{
     background-color: #fff;
     padding: 12px;
}


.fa-bars{
    right: 50px;
    position: absolute;
    color:aliceblue;
    border: 2px solid rgba(240, 248, 255, 0.5);
    padding: 5px 10px;
    border-radius: 10px;
}

.navbar{
    background-color: rgb(89, 81, 81);
    display: none;
    padding: 20px 0;
}

.navbar a{
    color: #fff;
    text-decoration: none;
}
.navbar li{
    list-style-type: none;
    margin: 10px 0;
}


.top-background{
	background-image:url("fashion-11.jpg");
	width:100%;
	height:600px;
	background-size:cover;
	background-position:center center;
	position:relative;
    margin: 20px 0;
}


.overlay{
	background-image: linear-gradient(to bottom right, rgba(13, 13, 13, 0.5), rgba(221, 43, 12, 0.5));
	position:absolute;
	width:100%;
	height:100%;
    text-align: center;
}


.overlay h1{
    text-align: center;
    color: #fff;
    font-size: 80px;
    padding-top: 100px;
}


.overlay a{
    font-size: 30px;
    border:2px solid #fff;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}


.overlay a:hover{
    background-color: #ff0;
    color:#000;
}


.overlay p{
    color: #fff;
    font-size: 20px;
}


.overlay span{
    color: #ff0;
}


.short-top-image{
	background-image:url("fashion-2.jpg");
	width:100%;
	height:200px;
	background-size:cover;
	background-position:center center;
	position:relative;
    margin: 20px 0;
}


.overlay1{
	background-image: linear-gradient(to bottom right, rgba(13, 13, 13, 0.5), rgba(221, 43, 12, 0.5));
	position:absolute;
	width:100%;
	height:100%;
    text-align: center;
}


.overlay1 h1{
    color: #fff;
}


.overlay1 h3{
    color: #fff;
}


.overlay1 a{
    color: #000;
    text-decoration: none;
    border: 2px solid #ff0;
    background-color: #ff0;
    padding: 10px;
}

.details1{
    display: flex;
}

.detail-1{
    flex: 50%;
    background-color: #fff;
    margin: 10px;
    height: 80px;
}

.fa-detail-1{
    color: rgb(237, 237, 71);
    padding: 0 10px;
}

.detail-1 h1{
    padding: 10px;
    font-size: 20px;
}

.detail-2{
    flex: 50%;
    background-color: #fff;
    margin: 10px;
    height: 80px;
}

.detail-2 h1{
    padding: 10px;
    font-size: 20px;
}

.details2{
    display: flex;
}

.detail-3{
    flex: 50%;
    background-color: #fff;
    margin: 10px;
    height: 80px;
}

.detail-3 h1{
    padding: 10px;
    font-size: 20px;
}

.detail-4{
    flex: 50%;
    background-color: #fff;
    margin: 10px;
    height: 80px;
}

.detail-4 h1{
    padding: 10px;
    font-size: 20px;
}

.category{
    margin:100px 0 50px 10px;
    position: relative;
}

.category:after{
    content:" ";
    height: 2px;
    width: 85%;
    background-color: #f00;
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
}


.product-category{
    display: flex;
}

.categories{
    flex: 12.5%;
    margin: 10px;
    position: relative;
}
.category-image{
   width: 100%;
   height: 200px;
   object-fit: cover;
   opacity: 1;
   display: block;
   transition: o.5s ease;
   backface-visibility: hidden;
}

.image-middle{
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categories:hover .category-image{
    opacity: 0.3;
}

.categories:hover .image-middle{
    opacity: 1;
}

.image-text p{
    background-color: rgb(0, 89, 255);
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

.image-text h1{
    background-color: #ff0;
    color: #000;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.featured{
    margin:100px 0 50px 10px;
    position: relative;
}

.featured:after{
    content:" ";
    height: 2px;
    width: 75%;
    background-color: #f00;
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
}

.products{
    display: flex;
}

.products-1{
    flex: 16.66%;
    background-color: #fff;
    height: 280px;
    margin: 10px;
    position: relative;
}

.products-1 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-description{
    padding: 15px;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.description-star{
    color: #ff0;
    padding: 5px 0;
}

.product-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 1;
    display: block;
    transition: o.5s ease;
    backface-visibility: hidden;
 }

 .product-middle{
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.products-1:hover .product-image{
    opacity: 0.3;
}

.products-1:hover .product-middle{
    opacity: 1;
}

.product-hover-icon{
    border: 2px solid #817f7f;
    padding: 2px;
}
.after-products-advert{
    display: flex;
    width: 100%;
}
.advert-after-product-left{
	background-image:url("advert1.jpg");
	width:100%;
	height:400px;
	background-size:cover;
	background-position:center center;
	position:relative;
    margin: 50px 20px;
    flex: 50%;
}


.left-overlay{
	background-image: linear-gradient(to bottom right, rgba(13, 13, 13, 0.5), rgba(221, 43, 12, 0.5));
	position:absolute;
	width:100%;
	height:100%;
    text-align: center;
}

.advert-after-product-right{
	background-image:url("advert2.jpg");
	width:100%;
	height:400px;
	background-size:cover;
	background-position:center center;
	position:relative;
    margin: 50px 20px;
    flex: 50%;
}


.right-overlay{
	background-image: linear-gradient(to bottom right, rgba(13, 13, 13, 0.5), rgba(221, 43, 12, 0.5));
	position:absolute;
	width:100%;
	height:100%;
    text-align: center;
}

.right-overlay p{
    color: #fff;
    font-size: 40px;
    padding: 20px;
}

.right-overlay span{
    color: #fff;
    font-weight: bold;
    font-size: 70px;
}

.right-overlay a {
    color: #000;
    background-color: #ff0;
    padding: 15px;
    text-decoration: none;
}

.left-overlay p{
    color: #fff;
    font-size: 40px;
    padding: 20px;
}

.left-overlay span{
    color: #fff;
    font-weight: bold;
    font-size: 70px;
}

.left-overlay a {
    color: #000;
    background-color: #ff0;
    padding: 15px;
    text-decoration: none;
}

.footer{
    background-color: rgb(45, 44, 44);
    width: 100%;
    height: 750px;
    margin: auto;
}

.contact-details h1{
    color: #fff;
    padding-top: 50px;
    margin-left: 30px;
}
.contact-details p{
    color: #fff;
    margin: 30px;
}

.contact-icons{
    color: #ff0;
    margin:10px 8px 10px 30px;
}

.contact-details span{
    color: #fff;
}

.quick-links{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #817f7f;
}

.quick-links-icon{
    padding-right: 5px;
}

.column-one{
    flex: 33.33%;
}

.column-one h1{
    margin: 30px;
    color: #fff;
}

.column-one a{
    display: block;
    text-decoration: none;
    margin: 10px 10px 10px 30px;
    color: #fff;
    transition-duration: .5s;
    width: max-content;
}

.column-one a:hover{
    transform: translateX(20px);
}

.my-account{
    flex: 33.33%;
}

.my-account h1{
    margin: 30px;
    color: #fff;
}

.my-account a{
    display: block;
    text-decoration: none;
    margin: 10px 10px 10px 30px;
    color: #fff;
    transition-duration: .5s;
    width: max-content;
}

.my-account a:hover{
    transform: translateX(20px);
}

.newsletter{
    flex: 33.33%;
}

.newsletter h1{
    margin: 30px;
    color: #fff;
}

.newsletter p{
    margin: 30px;
    color: #fff;
}

.newsletter input[type = email]{
    margin: 10px 0 10px 30px;
    padding: 5px;
    height: 40px;
    border: 2px solid #fff;
}

.newsletter input[type = button]{
    background-color: #ff0;
    height: 40px;
    border-left: 2px solid #fff;
}

.newsletter h3{
    color: #fff;
    margin: 10px 10px 10px 30px;
}

.bottom-social-links{
    margin: 20px 30px;
}

.bottom-social-links a{
    background-color: #ff0;
    padding: 10px;
}

.copyright p{
    color: #fff;
    padding: 30px;
}

.copyright span{
    color: #ff0;
}

.back-top{
    background-color: #ff0;
    width: max-content;
    position: relative;
    float: right;
    margin-right: 30px;
    animation-name: topbutton;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes topbutton{
    0% {
        bottom: 0px;
    }
    25% {
        bottom: 5px;
    }
    50% {
        bottom: 10px;
    }
    75% {
        bottom: 5px;
    }
    100% {
        bottom: 0px;
    }
}

.back-top i{
    padding: 10px;
}

@media only screen and (max-width: 600px){
    .store-logo-bar{
        height: 60px;
    }
    .store-logo-bar a{
        font-size: 10px;
    }
    .store-logo-bar h1{
        font-size: 10px;
        line-height: 36px;
    }
    .overlay h1{
        font-size: 50px;
    }
    .details1{
        display: grid;
        grid-template-columns: auto auto;
    }
    .details2{
        display: grid;
        grid-template-columns: auto auto;
    }
    .category{
        font-size: 20px;
    }
    .category::after{
        width: 55%;
    }
    .product-category{
        display: grid;
        grid-template-columns: auto auto;
    }
    .featured {
        font-size: 20px;
    }
    .featured::after{
        width: 30%;
    }
    .product-middle {
        width: max-content;
    }

    .advert-after-product-left{
        margin-right: 30px;
    }
    .products{
        display: block;
    }
    .products-1{
        width: 95%;
    }
    
    .product-description{
        font-size: 20px;
    }
    .after-products-advert{
        display: block;
        width: 90%;
    }
    .footer{
        height: max-content;
        width: 100%;
    }
    .quick-links{
        display: block;
        width: 100%;
    }
}

@media only screen and (min-width: 768px){
    .product-middle{
        width: max-content;
    }
    .featured::after{
        width: 60%;
    }
    .category::after{
        width: 75%;
    }
}